body, html {
  height:100%;
  margin: 0;
  background-color: #000;
  font-size: 3vw;
  font-family: Helvetica;
  text-align: center;
  color: #fff;
}

body {
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 6.5vw;
  display:inline-block;
  margin-bottom: 0;
  margin-top: 0;
}
h2 {
  font-size: inherit;
  display:inline-block;
  margin-top: 0;
}
p {
  font-size: inherit;
  display:inline-block;
}

body#bg {
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
}
