html {
  height: 100%;
  min-height: 100%;
  background-color: #000;
  font-size: 62.5%;
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  color: #fff;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body#bg {
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

div#box {
  border-style: solid;
  border-color: #fff;
  border-width: 1.2rem;
  display: block;
}

h1 {
  font-size: 11rem;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0.2rem;
  text-align: center;
  transition: 0.5s ease;
}
h1:hover {
  cursor: default;
}
.invert {
  background-color: #fff;
  color: #000; /*rgba(0, 0, 0, 0);*/
}

#projects {
  font-size: 2rem;
  color: #000;
  margin-top: 1rem;
  line-height: 3rem;
  display: none;
}
#projects span {
  background-color: #fff;
  padding: 0.2rem 0.5rem 0.2rem 0.2rem;
}

.footer {
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 1.6rem;
  height: 7rem;
  width: 100%;
  margin: auto;
  line-height: 0rem;
  bottom: 0;
}

img#SC {
  margin-top: 0;
  margin-bottom: 0;
  width: 5rem;
  transition: 0.2s ease;
}
img:hover {
  cursor: pointer;
  opacity: 0.5;
}

p#foot,
img#SC {
  margin-bottom: 0;
  padding-bottom: 0;
}

/*
h2 {
  font-size: 2vw;
  display:inline-block;
  margin-top: 0;
  text-align: center;
  font-style: italic;
}*/
